*.aux
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.cut
*.synctex
*.synctex(busy)

report/main.pdf

*.~lock*
**/__pycache__

python_venv

experiments/tmp

experiments/results/*
experiments/data/*
archive/
experiments/plotting/tables/UCRTime/


experiments/plotting/tables/
experiments/plotting/latex/
experiments/plotting/plots/


