/sigmod2023-GIO-p454/baselines/JavaBaselines/lib/
/sigmod2023-GIO-p454/baselines/JavaBaselines/.idea/
/sigmod2023-GIO-p454/baselines/JavaBaselines/target/
/sigmod2023-GIO-p454/setup/
/sigmod2023-GIO-p454/envGIO/
/sigmod2023-GIO-p454/baselines/RapidJSONCPP/bin/
/sigmod2023-GIO-p454/data
/sigmod2023-GIO-p454/results
