
*.aux
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.cut
*.synctex



# Ignore systemds Specific files.

experiments/scratch_space/
experiments/results/*

experiments/python_venv
experiments/hprof
experiments/tmp

activation.pdf

experiments/plots/microbenchmark/**/*.pdf
experiments/plots/microbenchmark/*/*.pdf
experiments/plots/microbenchmark/tab
experiments/plots/tables/**
experiments/comp3Paper/lib
experiments/comp3Paper/results

*.~lock*
**/__pycache__


experiments/plots/microbenchmark/*.csv

experiments/archive/*.zip
