*.aug
*.aux
*.bbl
*.blg
SIGMODIND2021.log
SIGMODIND2021.out
*.fdb_latexmk
*.fls
*.xcp
*.bcf
*.run.xml
paper/*.out
paper/*.tcp
paper/*.tps
paper/*.log
paper/*.pdf
paper/figures/mlsystems.pdf
paper/figures/workers.pdf
paper/figures/workersPL.pdf
paper/figures/workersSSL.pdf

*-reproduced.pdf

*.synctex.gz

experiments/data
experiments/datasets/anonymized_data.zip
experiments/datasets/anonymized_data.csv
experiments/datasets/exdra_use_case_2_anonymized.zip

experiments/results
experiments/tmp
experiments/python_venv

experiments/plots/pdfs
experiments/plots/*.csv
experiments/systemds/*

experiments/hs_err_*
experiments/hprof
